button {
width: 150px;
height: 50px;
margin: 5px;
border-radius: 7px;
border-style: none;
background-color: bisque;
font-family: verdana;
font-size: 20px;
color: salmon;
outline-color:brown;
}

input {
  width: 310px;
  height: 50px;
  background-color: bisque;
  border-radius: 7px;
  border-style: none;
  font-family: verdana;
  font-size: 20px;
  color: brown;
  padding-left: 15px;
  outline-color: brown;
}
::placeholder {
  color:salmon;
}
